<div class="tables-tab" ng-controller='readCtrl as vm' ng-init="init()">
    <div class="navbar">
        <div ng-include data-src="'app/shared/views/navigation.html'"></div>
    </div>
    <h4 class="col-xs-7" ng-bind="tableName"></h3>
    <h6 class="col-xs-3">Number of records: {{gridOptions.data.length}}</h6>
    <button class="col-xs-2 btn btn-primary" ng-click="refreshData()"><i class="fa fa-refresh"></i> Refresh Data </button>
    <div ng-if="gridOptions.data.length > 0" ui-grid-selection class="read-grid col-xs-12" ui-grid="gridOptions"></div>
</div>
