<div class="tables-tab" ng-controller='readCtrl as vm' ng-init="init()">
    <div class="navbar">
        <div ng-include data-src="'app/shared/views/navigation.html'"></div>
    </div>
    <div class="input-group col-xs-5">
        <span class="input-group-btn">
                           <button class="btn btn-primary" type="button" ng-click="filterList()">Fuzzy Search</button>
                                 </span>
        <input type="text" ng-keypress="filterList()" class="form-control" ng-model="filter">
    </div>
    <h4 ng-show="tableList.length===0 && !loading">
        No results found
    </h4>
    <table ng-show="tableList.length > 0" class="table table-striped">
        <tr>
            <th>
                Table Name
            </th>
            <th>
                Details
            </th>
            <th>
                Delete
            </th>
        </tr>
        <tr ng-repeat="table in tableList" class="tableList">
            <td>
                {{table}}
            </td>
            <td>
                <button class="btn btn-xs btn-info" ng-click="getDetails(table)"><i class="fa fa-user-times"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-xs btn-danger" ng-click="removeUser(user.username, user.env)"><i class="fa fa-user-times"></i>
                </button>
            </td>
        </tr>
    </table>
</div>
