<div ng-controller='userdbCtrl' ng-init="init()" class="userdb">
    <div class="navbar">
        <div ng-include data-src="'app/shared/views/navigation.html'"></div>
    </div>
    <!-- Create users -->
    <div class="create">
        <div ng-show="wait" class="wait-label label label-warning">Please Wait...</div>
        <div class="input-group environment-select col-xs-3">
            <select ng-change="loadEnv(env)" ng-model="env" class="form-control input-group-addon">
                <option value="dev">Develop</option>
                <option value="int">Integration</option>
                <option value="qa">QA</option>
                <option value="stg">Stage</option>
            </select>
        </div>
        <button class="btn btn-info" ng-click="login()"><i class="fa fa-rocket"></i> Launch
        </button>
    </div>
    <div ng-if="userList.length > 0">
        <div class="btn-group user-list">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User List <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-show="showFeatures===true"><a ng-click="showFeatures=false">Hide Features</a></li>
                <li ng-show="showFeatures===false"><a ng-click="showFeatures=true">Show Features</a></li>
            </ul>
        </div>
        <table class="table table-striped userdb-table">
            <tr>
                <th style="width:12%">
                    Username
                </th>
                <th>
                    Last Updated
                </th>
                <th style="width:8%" ng-show="showFeatures">
                    3B On File
                </th>
                <th style="width:8%" ng-show="showFeatures">
                    Has Alerts
                </th>
                <th style="width:8%" ng-show="showFeatures">
                    Unscorable
                </th>
                <th style="width:8%" ng-show="showFeatures">
                    Active
                </th>
                <th ng-show="showFeatures">
                    Subscription
                </th>
                <th>
                    Customer ID
                </th>
                <th>
                    Notes
                </th>
                <th>
                    Status
                </th>
                <th>
                    Refresh
                </th>
                <th style="width:5%">
                    Delete
                </th>
            </tr>
            <tr ng-repeat="user in userList" class="tableList">
                <td>
                    {{user.username}}
                </td>
                <td>
                    {{user.updateDate | dateFilter }}
                </td>
                <td ng-show="showFeatures">
                    <button ng-show="user.has3B === true" class="btn btn-xs btn-success">
                        <i class="fa fa-thumbs-up"></i>
                    </button>
                    <button ng-show="user.has3B === false" class="btn btn-xs btn-warning">
                        <i class="fa fa-thumbs-down"></i>
                    </button>
                </td>
                <td ng-show="showFeatures">
                    <button ng-show="user.alerts=== true" class="btn btn-xs btn-success">
                        <i class="fa fa-thumbs-up"></i>
                    </button>
                    <button ng-show="user.alerts=== false" class="btn btn-xs btn-warning">
                        <i class="fa fa-thumbs-down"></i>
                    </button>
                </td>
                <td ng-show="showFeatures">
                    <button ng-show="user.unscorable=== true" class="btn btn-xs btn-success">
                        <i class="fa fa-thumbs-up"></i>
                    </button>
                    <button ng-show="user.unscorable=== false" class="btn btn-xs btn-warning">
                        <i class="fa fa-thumbs-down"></i>
                    </button>
                </td>
                <td ng-show="showFeatures">
                    <button ng-show="user.active === 'A'" class="btn btn-xs btn-success">
                        <i class="fa fa-thumbs-up"></i>
                    </button>
                    <button ng-show="user.active === 'Inactive'" class="btn btn-xs btn-danger">
                        <i class="fa fa-thumbs-down"></i>
                    </button>
                </td>
                <td ng-bind-html="user.subscription" ng-show="showFeatures">
                </td>
                <td>
                    <button style="margin-left:30px" ng-show="user.customerId" class="btn btn-xs btn-success" ng-click="showCustomerId(user.customerId)"><i class="fa fa-key"></i>
                    </button>
                    <button style="margin-left:30px" ng-show="!user.customerId" class="btn btn-xs btn-danger"><i class="fa fa-question-circle"></i>
                    </button>
                </td>
                <td>
                    <span ng-if="!user.notes==' '" ng-click="addNotes(user)">
                        {{user.notes}}
                    </span>
                    <button ng-show="user.notes==' '" class="btn btn-xs btn-primary" ng-click="addNotes(user)"><i class="fa fa-plus-square"></i>
                    </button>
                </td>
                <td>
                    <button ng-show="user.userStatus === 'OK'" class="btn btn-xs btn-success">
                        <i class="fa fa-check"></i>
                    </button>
                    <button ng-show="user.userStatus === 'unknown'" class="btn btn-xs btn-danger">
                        <i class="fa fa-question-circle"></i>
                    </button>
                    <button class="btn btn-xs btn-danger" ng-show="user.userStatus !== 'OK' && user.userStatus !== 'unknown'" ng-click="showErrors(user.userStatus)">
                        <i class="fa fa-exclamation-triangle"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-xs btn-primary" ng-click="updateUser(user.username, user.env)"><i class="fa fa-refresh"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-xs btn-danger" ng-click="removeUser(user.username, user.env)"><i class="fa fa-user-times"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" ng-model="newUsername" placeholder="Enter Username">
                </td>
                <td>
                    <button class="btn btn-primary" type="button" ng-click="addNewUser(newUsername)"><i class="fa fa-user-plus"></i>
                    </button>
                    <span ng-show="success" class="label label-success">Success!</span>
                    <span ng-show="fail" class="label label-danger">{{fail}}</span>
                </td>
            </tr>
        </table>
    </div>
</div>
