body {
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
    cursor: pointer;
}

p {
    padding-top: 20px;
}

.tables-tab {
    .table {
        margin-top: 15px;
        td button {
            margin-left: 15px;
        }
    }
}

.nav img {
    margin-right: 0px;
}

