<div ng-controller='searchCtrl as vm' ng-init="init()">
    <div class="navbar">
        <div ng-include data-src="'app/shared/views/navigation.html'"></div>
    </div>
    <!-- Find user -->
    <div ng-show="loading" class="wait-label label label-warning">Please Wait...</div>
    <div class="input-group col-xs-3" ng-show="!loading">
        <span class="input-group-btn">
                           <button class="btn btn-primary" type="button" ng-click="findUsers()">Search</button>
                                 </span>
        <input type="text" ng-keypress="($event.which ===13)?findUsers():0" class="form-control" ng-model="name">
    </div>
    <br/>
    <h4 ng-show="!loading">Total Users: {{users.length}}</h4>
    <div ng-if="users.length > 0" class="col-xs-12 col-md-7">
        <table class="table table-striped">
            <tr>
                <th>
                    SSN
                </th>
                <th>
                    First name
                </th>
                <th>
                    Last name
                </th>
                <th style="width:25%">
                    Show OOW Answers
                </th>
            </tr>
            <tr ng-repeat="user in users" class="tableList">
                <td style="font-weight:bold">
                    {{user.ssn}}
                </td>
                <td>
                    {{user.firstName}}
                </td>
                <td>
                    {{user.lastName}}
                </td>
                <td>
                    <button ng-click="showAnswers(user.ssn)" class="btn btn-xs btn-info">
                        <i class="fa fa-sliders"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
