body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

.read-grid {
  margin-top: 10px;
  height: 700px;
  width: 2500px; }

.bootbox-json {
  white-space: pre; }

a {
  color: #00B7FF;
  cursor: pointer; }

p {
  padding-top: 20px; }

.home .table-grid {
  height: 165px; }

.nav img {
  margin-right: 0px; }
