<div ng-controller='registrationCtrl as vm' ng-init="init()">
    <div class="navbar">
        <div ng-include data-src="'app/shared/views/navigation.html'"></div>
    </div>
    <!-- Create users -->
    <div class="col-xs-6 create" ng-show="showForm">
        <table class="table table-striped">
            <tr>
                <th>
                    Popular Users
                </th>
                <th>
                    Type
                </th>
                <th>
                    SSN
                </th>
            </tr>
            <tr>
                <td>
                    Ray Bacon
                </td>
                <td>
                    No Hit
                </td>
                <td>
                    666587706
                </td>
            </tr>
            <tr>
                <td>
                    Alba Markgren
                </td>
                <td>
                    Unscorable
                </td>
                <td>
                    666163404
                </td>
            </tr>
            <tr>
                <td>
                    Caroline Manley
                </td>
                <td>
                    Good Data
                </td>
                <td>
                    666195753
                </td>
            </tr>
        </table>
    </div>
    <div class="col-xs-12 row" ng-show="showForm">
        <form class="col-md-12 col-lg-4">
            <div class="form-group">
                <label for="input-ssn">SSN</label>
                <input type="text" maxlength=9 class="form-control" id="input-ssn" ng-model="newSsn" placeholder="Enter SSN">
            </div>
            <div class="form-group">
                <label for="input-offer" ng-click="customOffer()">Offer: {{offerId}}</label>
                <select ng-model="offerId" class="form-control">
                    <option value="{{offerId}}">{{offerId}}</option>
                    <option value="2c92a0f9483d92170148429b642b324f">$0 Experian Slingshot Beta</option>
                    <option value="vwo89s2dk4jj68wv9xe8r43q6uc19jp3">$0 Experian Slingshot Public Beta</option>
                    <option value="14f6f7a7e5054975ba192e1721486032">$1.00 Experian Slingshot Public Paid Trial</option>
                    <option value="a38b9a6d72104cd8aca1ff75d23cb62a">$1.00 Experian Credit Works Trial</option>
                    <option value="f51a2cc725e8400bbc2f49b73f10acf7">$14.95 Experian Credit Tracker</option>
                </select>
            </div>
            <!--<input type="text" class="form-control" ng-model="newUsername" placeholder="Enter Username (Optional)">-->
            <div class="form-group">
                <label for="input-env">Environment</label>
                <select id="iput-env" ng-model="domain" class="form-control">
                    <option value="dev">Develop</option>
                    <option value="int">Integration</option>
                    <option value="qa">QA</option>
                    <option value="stg">Stage</option>
                </select>
            </div>
            <button ng-show="newSsn.length ===9" class="btn btn-primary" type="button" ng-click="createNewUser()">Create User</button>
            <div class="failReason" ng-show="failReason" ng-bind="failReason">
            </div>
        </form>
    </div>
    <!-- Answer Questions -->
    <div class="answers" ng-if="showQuestions">
        <!-- Show OOW answers -->
        <div class="col-xs-3" ng-if="oow.length>0">
            <h5>Answers: </h5>
            <div class="oowAnswers" ng-repeat="answer in oow">{{answer}}</div>
        </div>
        <div class="col-xs-9">
            <button class="btn btn-primary" type="button" ng-click="submitAnswers()">Submit Answers</button>
            <div ng-repeat="(qKey ,question) in answerQuestions">
                <br>
                <b>{{question.text}}</b>
                <select ng-model="answerQuestions.ans[qKey+1]" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <div class="selectAnswers" ng-class="colorCodeAnswer(key+1, answerQuestions.ans[qKey+1])" ng-repeat="(key,ans) in question.options">{{key+1}}. {{ans}}</div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <!-- <div ng-show="true || wait" class="label label-warning">Creating user....</div> -->
        <span ng-show="success" class="label label-success">Success!</span>
        <div class="progress" ng-show="progressBar">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{progressBar}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progressBar}}%;">
                <!--{{progressBar}}%-->
                Creating user.... {{progressBarText}}
            </div>
        </div>
        <p>
            <span ng-show="fail" class="label label-danger">Failed</span>
        </p>
        <div class="failReason" ng-bind-html="creationOutput"></div>
    </div>
</div>
