<div class="home" ng-controller='homeCtrl as vm' ng-init="init()">
    <div class="navbar">
        <div ng-include data-src="'app/shared/views/navigation.html'"></div>
    </div>
    <div class="col-xs-12">
        <h2 class="">Favorites</h2>
    </div>
    <br>
    <div class="col-xs-12" >
    <table class="table table-striped">
        <tr>
            <th>
                Table Name
            </th>
            <th>
                Load table
            </th>
            <th>
                Delete
            </th>
        </tr>
        <tr ng-repeat="table in favoriteList" class="tableList">
            <td>
                {{table}}
            </td>
            <td>
                <button class="btn btn-xs btn-info" ng-click="loadTable(table)"><i class="fa fa-wrench"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-xs btn-danger" ng-click="deleteTable(table)"><i class="fa fa-user-plus"></i>
                </button>
            </td>
        </tr>
    </table>
    </div>
</div>
