<div ng-controller='profileCtrl as vm' ng-init="init()">
    <div class="navbar">
        <div ng-include data-src="'app/shared/views/navigation.html'"></div>
    </div>
    <div class="container">
        <div class="row">
            <h1 ng-show="user.username.length >0" class="text-center">Welcome, {{user.firstName}} {{user.lastName}} - {{user.username}} </h1>
            <div class="col-sm-6 col-sm-offset-3">
                <p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>
                <form id="passwordForm">
                    <p>
                        <input ng-model="form.oldPassword" type="password" class="input-lg form-control" name="oldPassword" id="password1" placeholder="Old Password" autocomplete="off">
                    </p>
                    <p>
                        <input ng-model="form.newPassword" type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
                    </p>
                    <p>
                        <input ng-model="form.confirmPassword" type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
                    </p>
                    <p>
                        <input ng-click="changePassword()" type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password">
                    </p>
                </form>
            </div>
            <!--/col-sm-6-->
        </div>
        <!--/row-->
    </div>
</div>
