<div ng-controller='forgotPasswordCtrl as vm' ng-init="init()">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p class="text-center">Use the form below to reset your password. After verifying your account, your password will be reset to be 'password'.</p>
                <form id="passwordForm">
                    <p>
                        <input ng-model="form.username" type="password" class="input-lg form-control" name="oldPassword" id="password1" placeholder="Enter slack username" autocomplete="off">
                    </p>
                    <p>
                        <input ng-click="resetPassword()" type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Reset password">
                    </p>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <a href="#/" tabindex="5" class="forgot-password">Return to Login</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--/col-sm-6-->
        </div>
        <!--/row-->
    </div>
</div>
